css/cvs.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT option (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT langues ((langue+))>
<!ELEMENT langue EMPTY>
<!ATTLIST langue
	langName CDATA #REQUIRED
>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT indent ((nom, pnom+, datenaiss, langues))>
<!ELEMENT ident ((nom, pnom+, datenaiss, langues))>
<!ELEMENT formations ((formation))>
<!ELEMENT formation ((anneeDeb, anneeFin,  intitule, option))>
<!ATTLIST formation
	obtenu CDATA #REQUIRED
>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT datedenaiss (#PCDATA)>
<!ELEMENT cvs ((cv+))>
<!ELEMENT cv ( ident , formations)*>
<!ATTLIST cv
	id ID #REQUIRED
>
<!ELEMENT anneeFin (#PCDATA)>
<!ELEMENT anneeDeb (#PCDATA)>
<!ELEMENT Intitule (#PCDATA)>
