css/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="vehicule" type="xs:boolean"/>
	<xs:element name="tel" type="xs:int"/>
	<xs:element name="prenom" type="xs:string"/>
	<xs:element name="phraseAccroche" type="xs:string"/>
	<xs:element name="permis" type="xs:string"/>
	<xs:element name="obtenu" type="xs:boolean"/>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="mail" type="xs:string"/>
	<xs:element name="lieu" type="xs:string"/>
	<xs:element name="langues">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="langue" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="langue">
		<xs:complexType>
			<xs:attribute name="parle" type="xs:boolean"/>
			<xs:attribute name="matern" type="xs:string"/>
			<xs:attribute name="lu" type="xs:boolean"/>
			<xs:attribute name="langName" use="required" type="xs:string"/>
			<xs:attribute name="ecrit" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="intitule" type="xs:string"/>
	<xs:element name="ident">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nom"/>
				<xs:element ref="prenom"/>
				<xs:element ref="datenaiss"/>
				<xs:element ref="tel"/>
				<xs:element ref="mail"/>
				<xs:element ref="permis"/>
				<xs:element ref="vehicule"/>
				<xs:element ref="langues"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="formation" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="anneeDeb"/>
				<xs:element ref="anneeFin"/>
				<xs:element ref="lieu"/>
				<xs:element ref="diplomes"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experiences">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="experience" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="experience">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dateDeb"/>
				<xs:element ref="dateFin"/>
				<xs:element ref="ets"/>
				<xs:element ref="etsCmpl"/>
				<xs:element ref="intitule"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="etsCmpl" type="xs:string"/>
	<xs:element name="ets" type="xs:string"/>
	<xs:element name="diplomes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="diplome" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="diplome">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="intitule"/>
				<xs:element ref="obtenu"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="datenaiss" type="xs:date"/>
	<xs:element name="dateFin" type="xs:short"/>
	<xs:element name="dateDeb" type="xs:short"/>
	<xs:element name="cvs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cv">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ident"/>
				<xs:element ref="phraseAccroche"/>
				<xs:element ref="formations"/>
				<xs:element ref="experiences"/>
			</xs:sequence>
			<xs:attribute name="idcv" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="anneeFin" type="xs:short"/>
	<xs:element name="anneeDeb" type="xs:short"/>
</xs:schema>
